.newtask {
  margin-top: -3.8rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newtask input {
  width: 100%;
  background: var(--gray-500);
  color: var(--gray-300);
  padding: 1rem;
  border-radius: 8px;
  margin-right: 8px;
  border: 1px solid var(--gray-700);
}

.newtask button {
  border: none;
  background: var(--primary-dark);
  color: var(--gray-100);
  padding: 1rem;
  border-radius: 8px;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: 8px;
  line-height: 1.4;
  cursor: pointer;
  transition: background-color 0.1s;
}

.newtask button span {
  display: flex;
  align-items: center;
}

.newtask button:not(:disabled):hover {
  background: var(--primary);
}

.newtask button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
