.tasks {
  width: 75%;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.info .created {
  color: var(--primary);
  font-size: 0.875rem;
  font-weight: 700;
}

.info .done {
  color: var(--secondary);
  font-size: 0.875rem;
  font-weight: 700;
}

.info span {
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 999px;
}
